<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ajax Posts</title>
		<style>
			fieldset {
				width: 200px;
				display: inline-block;
				margin: 20px;
				vertical-align: middle;
			}


		</style>

	</head>
	<body>
		<div id="wrapper">
			<h1>My Posts</h1>
			<div id="posts">
				{% for post in posts %}
				<fieldset>
					<p>{{ post.post }}</p>
				</fieldset>
				{% endfor %}
			</div>
			<div id="new_post">
				<form action='/new_post' method="post">
					{% csrf_token %}
					<textarea name="post" rows="8" cols="40"></textarea>
					<button type="submit">Post!</button>
				</form>
			</div>
		</div>

	</body>
</html>
